@{

    ViewData["Title"] = "图片列表";
}

<h2>图片列表</h2>

<ul>
    @foreach (var item in ViewBag.ptlist)
    {
        <li><a asp-action="Detail" asp-route-id="@item.ID">@(((Picture)item).Title)</a></li>
    }
</ul>