@{

    ViewData["Title"] = "视频列表";
}

<h2>视频列表</h2>

<ul>
    @foreach (var item in ViewBag.ptlist)
    {
        <li><a asp-action="Detail" asp-route-id="@item.ID">@(((Video)item).Title)</a></li>
    }
</ul>