@{
    ViewData["Title"] = "关于";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>lyo，致力于.net cross platform开发。欢迎志同道合的旁友们一起交流进步！</p>
<p>杭州.net开发群，群号：61540251</p>
<p>本平台所有技术均基于.net，后台使用core2.0开发，移动端使用Xamarin开发（包括Android和ios平台）。</p>
<p>本网站是作者学习.net core 2.0的demo产物。使用技术：C# + .net core2.0 + EF core + Mysql + Bootstrap + Nginx + Kestrel + CentOS7</p>

<p>本网站仅供自己使用，切记请勿传播！以免被和谐！！！（现在已经很难找到这种网站了，不信你试试？）</p>