@{
    ViewData["Title"] = "联系方式";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>QQ 632484753</strong><br />
    <strong>邮件</strong> <a>632484753@qq.com</a><br />
    <strong>杭州.net开发群，群号：61540251</strong><br />
</address>
