@{
    ViewData["Title"] = "主页";
}

<div class="jumbotron">
    <h1>lyo的邪恶地带</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>给你们一个福利</h2>
        <p>
            本网站技术上是作者学习.net core 2.0的demo产物，
            内容上给大家一个福利，一个别的地方很难再找到的福利。
            切勿随便传播，自己看看就好，以免被和谐！
        </p>
    </div>
    <div class="col-md-4">
        <h2>本网站内容来源</h2>
        <p>C#写的蜘蛛抓来的（抓了两天左右），原站现在不知道还能不能访问。</p>
        <p><a class="btn btn-default" href="http://www.yirenzonghe.com">访问原网站</a></p>
    </div>
    <div class="col-md-4">
        <h2>其他</h2>
        <p>本人QQ 632484753，邮箱可用。杭州.net开发群，群号：61540251，欢迎志同道合的旁友们一起交流进步！</p>
        <p><a class="btn btn-default" href="https://github.com/AndrewChien">GayHub地址</a></p>
    </div>
</div>